@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #2c2c2c;
  color: #fff;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.container {
  height: 60rem;
  width: 60rem;

  border-radius: 33px;
  background: linear-gradient(145deg, #282828, #2f2f2f);
  box-shadow: 25px 25px 47px #252525, -25px -25px 47px #333333;
}

/* //////////////////////// ///////////////////////////////////////////  */
/* *Main Section */
/* //////////////////////// ///////////////////////////////////////////  */

.main-section {
  height: 30rem;
  width: 60rem;
  margin-bottom: 4rem;
  padding: 1rem;
  position: relative;
}
.main-section .img {
  border-radius: 33px;
  width: 100%;
  height: 90%;
  background: url(../img/img.jpg) no-repeat center center/cover;
  margin-bottom: 1.2rem;
  border: 3px solid rgb(199, 199, 199);
}
.main-section .heading-primary {
  margin-left: 1rem;
  font-size: 2.3rem;
  margin-bottom: 0.8rem;
  font-weight: 900;
}

.hr {
  height: 3px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
}

/* //////////////////////// ///////////////////////////////////////////  */
/* *Dynamic Section */
/* //////////////////////// ///////////////////////////////////////////  */

.dynamic-section {
  width: 100%;
  height: 25rem;
  padding: 0 2rem;
}

.dynamic-section .score {
  font-size: 2.3rem;
  margin-bottom: -1rem;
}
/* Winner */
.winner {
  color: rgb(0, 253, 106);
}
/* Loser */
.loser {
  color: rgb(255, 33, 33);
}
/* ///// */
.dynamic-section .heading-secondary {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.dynamic-section .playing-to {
  font-size: 1.8rem;
  margin-bottom: 2.7rem;
}
.dynamic-section .playing-to h2 {
  display: inline-block;
  margin-right: 1rem;
}
.dynamic-section .playing-to select {
  background-color: #333;
  color: #fff;
  border: 2px solid rgb(255, 55, 55);
  padding: 0.4rem;
  outline: none;
  transition: all 0.2s ease-in;
  font-size: 1.5rem;
}
.dynamic-section .playing-to select:focus {
  border: 2px solid rgb(55, 175, 255);
  padding: 1rem;
}
.dynamic-section .playing-to select option {
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons .btn {
  border: none;
  padding: 1.5rem;
  width: 15rem;
  font-size: 1.8rem;
  color: #fff;
  border-radius: 2rem;
  cursor: pointer;
  opacity: 0.9;

  transition: opacity 0.3s ease;
}
.buttons .btn:hover {
  opacity: 1;
}
.buttons .player-1-btn {
  background: #28c7fa;
}
.buttons .player-2-btn {
  background: #775ada;
}
.buttons .reset {
  background: #ff304f;
}

/* //////////////////////// ///////////////////////////////////////////  */
/* *Media Queries */
/* //////////////////////// ///////////////////////////////////////////  */

@media only screen and (max-width: 600px) {
  .container {
    width: 50rem;
    height: 50rem;
  }
  .main-section {
    height: 20rem;
    width: 50rem;
    margin-bottom: 4rem;
    padding: 0.5rem;
  }
  .dynamic-section {
    width: 100%;
    height: 20rem;
    padding: 0 1.5rem;
  }
}
@media only screen and (max-width: 530px) {
  .container {
    width: 40rem;
    height: 45rem;
  }
  .main-section {
    height: 20rem;
    width: 40rem;
    margin-bottom: 5rem;
    padding: 0.5rem;
  }
  .dynamic-section {
    width: 100%;
    height: 10rem;
    padding: 0 1.5rem;
  }
  .dynamic-section .score {
    font-size: 2rem;
    margin-bottom: -0.8rem;
  }
  .dynamic-section .heading-secondary {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .dynamic-section .playing-to {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .dynamic-section .playing-to h2 {
    margin-right: 1rem;
  }
  .dynamic-section .playing-to select {
    padding: 0.3rem;
    font-size: 1.4rem;
  }
  .dynamic-section .playing-to select:focus {
    border: 2px solid rgb(55, 175, 255);
    padding: 1rem;
  }
  .dynamic-section .playing-to select option {
    font-size: 1.3rem;
    padding: 0.7rem;
  }

  .buttons .btn {
    padding: 1rem;
    width: 13rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    margin: 0 0.4rem;
  }
}
